:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
    --border-1-color: #555555;
    --layer-0: palevioletred;
    --layer-1: gold;
    --layer-2: yellow;
    --layer-3: palegreen;
    /* --leftMargin: 50px; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
background-color: var(--layer-0);
}

body {
    font-family: 'Playfair';
    background-color: var(--layer-1);
    border: 2px solid black;
    margin: 10px 10px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}

/*heading*/

.heading {
    /* margin-bottom: 10px;
    padding-top: 20px; */
    /* margin-left: 80px; */
    /* --leftMargin: 50px;

    margin-left: var(--leftMargin); */
    background-color: var(--layer-2);
    border: 2px solid black;
    margin: 10px 10px;
}

.heading a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
    border: 2px solid black;
    margin: 10px 10px;
    background-color: var(--layer-3);
}

/*bio*/

.bio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid var(--text-color);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px; */
    border: 2px solid black;
    margin: 10px 10px;
    background-color: var(--layer-2);
}

.bio .text {
    flex: 5;
    font-size: 25px;
    /* margin-right: 80px; */
    border: 2px solid black;
    margin: 10px 10px;
    background-color: var(--layer-3);
}

.bio .headshot {
    flex: 2;
    border: 2px solid black;
    margin: 10px 10px;
    text-align: center;
    background-color: var(--layer-3);
}

.bio .headshot img {
    width: 350px;
    border: 2px solid black;
    margin: 10px 10px;
}

/*links*/

.links {
    /* margin-bottom: 250px;
    margin-left: 80px;
    margin-right: 80px; */
    border: 2px solid black;
    margin: 10px 10px;
    background-color: var(--layer-2);
}

.links a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
    border: 2px solid black;
    margin: 10px 10px;
    background-color: var(--layer-3);
}

.links .pc {
    display: flex;
    justify-content: space-between;
}

.links .mobile {
    display: none;
}

/*artwork*/

.artwork {
    /* padding-left: 50px;
    padding-right: 50px;
    border: 2px solid var(--text-color);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 250px; */
    border: 2px solid black;
    margin: 10px 10px;
    background-color: var(--layer-2);
}

.artwork .pictures {
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    flex-wrap: wrap;
    /* padding-bottom: 50px;
    padding-top: 50px; */
    border: 2px solid black;
    margin: 10px 10px;
    background-color: var(--layer-3);
}

.artwork .pictures img {
    width:375px;
    /* border-radius: 2px;
    border: 2px solid var(--border-1-color); */
    border: 2px solid black;
    margin: 10px 10px;
}

/*outreach*/

.outreach {
    display: flex;
    /* align-items: center; */

    /* margin-bottom: 250px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid var(--text-color);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    gap: 80px;
    height: 700px;
    position: relative; */
    font-size: 25px;
    border: 2px solid black;
    margin: 10px 10px;
    background-color: var(--layer-2);
}

.outreach .text {
    /* border: 2px solid var(--border-1-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; */
    border: 2px solid black;
    margin: 10px 10px;
    background-color: var(--layer-3);
}

.outreach .offerings {
    /* border: 2px solid var(--border-1-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; */
    border: 2px solid black;
    margin: 10px 10px;
    background-color: var(--layer-3);
}

.outreach .offerings video {
    /* display: block;
    margin: 0 auto;
    width: 465px;
    margin-bottom: 10px; */
    border: 2px solid black;
    margin: 10px 10px;
}

.outreach .offerings .videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    margin: 10px 10px;
    background-color: turquoise;
}

.outreach .offerings .videos video{
    /* padding-top: 20px; */
    width: 350px;
    border: 2px solid black;
    margin: 10px 10px;
}


 /*cv*/

.cv {
    /* margin-bottom: 250px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid var(--text-color);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 700px;
    position: relative; */
    text-align: center;
    border: 2px solid black;
    margin: 10px 10px;
    background-color: var(--layer-2);
}

.cv .cv-container {
    /* border: 2px solid var(--border-1-color);
    background-color: rgb(99, 99, 99); */
    border: 2px solid black;
    margin: 10px 10px;
    background-color: var(--layer-3);
}

.cv img {
    width: 1000px;
    /* border: 1px solid var(--border-1-color);
    margin-top: 30px;
    margin-bottom: 30px; */
    border: 2px solid black;
    margin: 10px 10px;
}

/*contact*/

.contact {
    /* display: block;
    margin-bottom: 250px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid var(--text-color);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center; */
    font-size: 25px;
    border: 2px solid black;
    margin: 10px 10px;
    background-color: var(--layer-2);
}

/* .contact form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 750px;
    text-align: left;
}

.contact form input, .contact form textarea {
    font-family: 'Playfair';
    border: 2px solid var(--border-1-color);
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact form button {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Playfair';
    color: #ffff;
    background-color: var(--border-1-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
}

.contact form button:hover {
    filter: brightness(.9);
} */

/* responsivity */

/* 1375 */
@media (max-width: 1375px) {
    .artwork .pictures img {
        width: 450px;
    }

    .outreach .offerings video {
        width: 425px;
    }
}

/* 1325 */
@media (max-width: 1325px) {
    .outreach {
        gap: 50px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 23px;
    }

    .outreach .offerings video {
        width: 400px;
    }
}

/* 1200 */
@media (max-width: 1200px) {
    /* bio */
    .bio {
        padding-left: 50px;
        padding-right: 50px;
    }
    .bio .text {
        font-size: 22px;
        margin-right: 50px;
    }

    /* outreach */
    .outreach {
        gap: 50px;
        font-size: 21px;
    }
    .outreach .offerings video {
        width: 350px;
    }
    .outreach .offerings .videos video {
        padding-top: 10px;
        width: 300px;
    }

    /* cv */
    .cv {
        padding-left: 50px;
        padding-right: 50px;
    }

    .cv img {
        width: 850px;
    }
}

/*1125*/
@media (max-width: 1125px) {
    /*artwork*/
    .artwork .pictures img {
        width: 600px;
    }

    /*outreach*/
    .outreach .offerings video {
        width: 300px;
    }
    .outreach .offerings .videos video{
        padding-top: 10px;
        width: 250px;
    }
}

/*1000*/
@media (max-width: 1000px) {
    /*bio*/
    .bio .text {
        font-size: 20px;
    }

    /*artwork*/
    .artwork .pictures img {
        width: 500px;
    }

    /*outreach*/
    .outreach {
        flex-direction: column;
        height: 1000px;
    }

    .outreach .offerings video {
        width: 450px;
        margin-left: 0;
    }

    /*cv*/    
    .cv img {
        width: 650px;
    }

    /*contact*/
    .contact form {
        width: 500px;
    }
}

/* 875 */
@media (max-width: 875px) {
    /* bio */
    .bio {
        flex-direction: column-reverse;
    }

    .bio .text {
        font-size: 22px;
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 50px;
    }

    .bio .headshot img {
        width: 250px;
    }

    /* links */
    .links .pc {
        display: none;
    }
    
    .links .mobile {
        display: flex;
        justify-content: space-between;
    }

    /* artwork */
    .artwork .pictures img {
        width: 250px;
    }

    /* cv */    
    .cv img {
        width: 550px;
    } */

    /* contact */
    .contact form {
        width: 400px;
    }
}

/* 700 */
@media (max-width: 700px) {
    /* outreach */
    .outreach .offerings video {
        width: 300px;
        margin-left: 0;
    }

    /* cv */
    .cv {
        padding-left: 30px;
        padding-right: 30px;
    }
    .cv img {
        width: 450px;
    }

    /* contact */
    .contact {
        padding-left: 10px;
        padding-right: 10px;        
    }

    .contact form {
        width: 300px;
    }
}

/* 450 */
@media (max-width: 450px) {
    /* heading */
    .heading {
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }

    /* bio */
    .bio {
        padding-left: 10px;
        padding-right: 10px;
    }

    .bio .text {
        font-size: 20px;
    }

    .links .mobile {
        margin-left: 0;
        margin-right: 0;
    }

    /* outreach */
    .outreach {
        padding-left: 30px;
        padding-right: 30px;
        height: 2300px;
    }

    .outreach .offerings video {
        width: 250px;
    }

    /* cv */
    .cv img {
        width: 250px;
    }

    /* contact */
    .contact form {
        width: 250px;
    }
}
