:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
    --border-1-color: transparent;
    --border-2-color: #555555;
    /* --layer-0: palevioletred;
    --layer-1: gold;
    --layer-2: yellow;
    --layer-3: palegreen;
    --layer-4: turquoise; */
    --layer-0: transparent;
    --layer-1: transparent;
    --layer-2: transparent;
    --layer-3: transparent;
    --layer-4: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: var(--layer-0);
}

body {
    font-family: 'Playfair';
    background-color: var(--layer-1);
    border: 2px solid var(--border-2-color);
    margin: 10px 10px;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
    border: 2px solid var(--border-1-color);
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--layer-3);
}

p {
    margin-bottom: 10px;
}

.space {
    padding: 50px;
    background-color: var(--layer-4);
    border: 2px solid var(--border-2-color);
    margin: 10px 10px;
}

/*heading*/

.heading {
    background-color: var(--layer-2);
    border: 2px solid var(--border-1-color);
    margin: 10px 10px;
    padding: 10px 10px;
    text-align: center;
}

/*bio*/

.bio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--border-2-color);
    margin: 10px 10px;
    background-color: var(--layer-2);
}

.bio .text {
    width:1000px;
    font-size: 25px;
    border: 2px solid var(--border-1-color);
    margin: 10px 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
    background-color: var(--layer-3);
}

.bio .headshot {
    border: 2px solid var(--border-1-color);
    margin: 10px 10px;
    margin-left: 0;
    text-align: center;
    background-color: var(--layer-3);
    padding-left: 10px;
    padding-right: 10px;
}

.bio .headshot img {
    width:20vw;
    border: 2px solid var(--border-1-color);
    margin-top: 10px;
    margin-bottom: 6px;
}

/*links*/

.links {

    border: 2px solid var(--border-2-color);
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: var(--layer-2);
}


.links .pc {
    display: flex;
    justify-content: space-between;
}

.links .mobile {
    display: none;
}

/*artwork*/

.artwork {
    border: 2px solid var(--border-2-color);
    margin: 10px 10px;
    background-color: var(--layer-2);
}

.artwork .pictures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid var(--border-1-color);
    margin: 10px 10px;
    background-color: var(--layer-3);
}

.artwork .pictures img {
    width: 22vw;
    border: 2px solid var(--border-1-color);
    margin: 10px 10px;
}

/*outreach*/

.outreach {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 25px;
    border: 2px solid var(--border-2-color);
    margin: 10px 10px;
    padding: 10px;
    background-color: var(--layer-2);
    align-items: center;
}

.outreach a {
margin-left: 10px;}

.outreach .philosophy {
    flex: 5;
}

.outreach .philosophy .content {
    border: 2px solid var(--border-1-color);
    background-color: var(--layer-3);
    margin-top: 10px;
    padding: 20px;
}

.outreach .offerings {
    flex: 5;
}

.outreach .offerings .content {
    border: 2px solid var(--border-1-color);
    background-color: var(--layer-3);
    margin-top: 10px;
    padding: 20px;
}

.outreach .offerings .vid {
    text-align: center;
    margin: 0 auto;
}

.outreach .offerings video {
    margin: 10px 10px;
    width: 40vw;
}

 /*cv*/

.cv {
    height: 700px;
    position: relative;
    text-align: center;
    border: 2px solid var(--border-2-color);
    margin: 10px 10px;
    background-color: var(--layer-2);
}

.cv .cv-container {
    max-height: 97%;
    overflow: auto;
    border: 2px solid var(--border-1-color);
    margin: 10px 10px;
    background-color: var(--layer-3);
}

.cv img {
    width: 75vw;
    border: 2px solid var(--border-1-color);
    margin-top: 10px;
    margin-bottom: 6px;}

/*contact*/

.contact {
    text-align: center;
    /* font-size: 25px; */
    border: 2px solid var(--border-2-color);
    margin: 10px 10px;
    padding: 10px;
    background-color: var(--layer-2);
}

/* responsivity */

/* 1451 */
@media (max-width: 1451px) {
    .bio .text {
        font-size: 24px;
    }

    .bio .headshot img {
        width: 23vw;
    }

    .artwork .pictures img {
        width: 21vw;
    }

    .outreach {
        font-size: 24px;
    }
}

/* 1273 */
@media (max-width: 1273px) {
    .bio .text {
        font-size: 22px;
    }

    .bio .headshot img {
        width: 24vw;
    }

    .artwork .pictures img {
        width: 20vw;
    }

    .outreach {
        font-size: 22px;
    }

    .cv img {
        width: 80vw;
    }
}

/* 1102 */
@media (max-width: 1102px) {
    .bio .text {
        font-size: 21px;
    }

    .outreach {
        font-size: 21px;
    }

    .cv img {
        width: 85vw;
    }
}

/* 934 */
@media (max-width: 934px) {
    .bio {
        flex-direction: column-reverse;
    }

    .bio .text {
        width: auto;
    }

    .artwork .pictures img {
        width: 25vw;
    }

    .outreach {
        flex-direction: column-reverse;
    }

    .outreach .offerings video {
        width: 75vw;
    }
}

/* 822 */
@media (max-width: 822px) {
    a {
        font-size: 19px;
    }

    .bio .headshot img {
        width: 35vw;
    }

    .links .pc {
        display: none;
    }
    
    .links .mobile {
        display: flex;
        justify-content: space-between;
    }

    .cv img {
        width: 80vw;
    }
}

/* 606 */
@media (max-width: 606px) {
    .bio .headshot img {
        width: 45vw;
    }

    .artwork .pictures img {
        width: 33vw;
    }

    .outreach .offerings .content {
        padding: 12px;
    }

    .outreach .offerings video {
        margin-left: 0;
        margin-right: 0;  
        width: 70vw;   
    }

    .cv img {
        width: 70vw;
    }
}

/* 401 */
@media (max-width: 401px) {
    a {
        font-size: 17px;
    }

    .bio .text {
        font-size: 19px;
    }

    .outreach {
        font-size: 19px;
    }

    .outreach .offerings video {
        width: 60vw;   
    }
}

/* 375 */
@media (max-width: 375px) {
    .artwork .pictures img {
        width: 60vw;
    }
}

